*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #181818;
    --border: #8758ff;
    --neutraL: #f2f2f2;
    --muted: #6c46cc;
    /* Paddings */
    --sm: 8px;
    --md: 16px;
    --lg: 24px;
    --xxl: 48px;
}

body {
    background-color: var(--background);
    font-family: "Inter", sans-serif;
    color: white;
}

:where(h1, h2, h3, h4, h5) {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--neutraL);
}

a {
    text-decoration: none;
    color: #8758ff;
}

.category-h2 {
    font-size: var(--xxl);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.category-h2:hover {
    color: var(--neutraL);
}

.App {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Header */
.portfolio-header {
    width: 100vw;
    display: flex;
    padding: var(--md) var(--xxl);
    justify-content: space-between;
    position: fixed;
    z-index: 11;
    top: 0px;
    align-items: center;
}

.menu {
    position: relative;
    display: none;
    cursor: pointer;
}

.menu::after {
    content: "";
    height: 30px;
    width: 30px;
    background-color: var(--neutraL);
    position: absolute;
    left: -20px;
}

.header-title {
    color: white;
    font-size: 48px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-title:hover {
    color: var(--border);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav ul {
    list-style: none;
    display: flex;
    gap: var(--md);
}

.header-button {
    font-family: inherit;
    padding: 10px var(--md);
    border-radius: 36px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--border);
    font-size: var(--md);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bordered {
    border: 2px solid var(--border);
}

.header-button:hover {
    color: black;
    border-color: var(--neutraL);
    background-color: var(--neutraL);
}

.hero {
    color: var(--border);
    padding: var(--md);
    min-height: 100vh;
    max-width: 1600px;
    position: relative;
    padding: 0px 150px;
    margin: 0px auto;
}

.section {
    padding: var(--sm);
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}

.landing {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.landing h1 {
    font-size: clamp(40px, 8vw, 80px);
    line-height: 0.9;
    margin-top: var(--sm);
}

.name-title {
    animation: slideIn 1s linear;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

.landing-text-box p {
    max-width: 540px;
    line-height: 28px;
    margin-top: 20px;
}

.light {
    color: var(--neutraL);
}

.small-text {
    font-size: var(--lg);
    margin: 0px 0px 24px 4px;
}

.btn {
    font-family: inherit;
    padding: 12px 50px;
    border-radius: 36px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--border);
    color: var(--border);
    font-size: var(--md);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: var(--xxl);
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    border-color: var(--neutraL);
    color: black;
    background-color: var(--neutraL);
}

.a-link-btn {
    font-family: inherit;
    padding: 8px 30px;
    border-radius: 36px;
    cursor: pointer;
    background-color: transparent;

    color: var(--border);
    font-size: var(--md);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    gap: var(--sm);

}

.a-link-btn:hover {
    gap: var(--lg);
    color: var(--neutraL);
    border: 2px solid var(--neutraL);
}

/* About section */
.about-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-preview {
    overflow: visible;
    height: fit-content;
    padding: var(--sm) 0px;
    width: 100%;
    display: flex;
    gap: var(--sm);
}

.tag {
    border-radius: 50px;
    font-size: 14px;
    padding: 4px 8px;
    border: 2px solid;
}

.fake-image {
    height: 300px;
    width: 300px;
    border: 2px solid var(--border);
    position: relative;
    border-radius: 5px;
    transform: rotate(45deg);
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fake-image:hover {
    transform: rotate(0);
}

.fake-image::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid var(--border);
    background-color: transparent;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(55deg);
}

.fake-image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid var(--border);
    background-color: transparent;
    border-radius: 5px;
    transform: rotate(35deg);
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fake-image:hover::after {
    transform: rotate(0);
}

.fake-image:hover::before {
    transform: rotate(0);
}

.para-container {
    max-width: 500px;
    display: grid;
    gap: var(--lg);
    line-height: 28px;
    margin-bottom: var(--sm);
}

.para-container p {
    font-size: clamp(12px, 4vw, 16px);
}

/* SKills section */
.skills {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.skills-content-container {
    display: grid;
    gap: var(--lg);
}

.skills-h4 {
    font-size: var(--lg);
}

.icon-display-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--md);
}

.skills-content-container p {
    color: var(--neutraL);
}

.icon-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    width: 100%;
    margin-bottom: 200px;
}

.icon-box {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: var(--md);
    text-align: center;
}

.icon-box:hover {
    background-color: var(--border);
}

.icon-box p {
    font-size: 10px;
    font-weight: bold;
    margin-top: var(--sm);
}

.experience-box {
    display: flex;
    flex-direction: column;
    gap: var(--xxl);

}

.experience-card {
    width: 100%;
    padding: var(--sm);
    display: flex;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.experience-card:hover {}

.right {
    flex: 1;
    order: 2;
    padding: var(--md);
}

.right h3 {
    margin-bottom: var(--md);
}

.right section {
    margin: var(--sm) 0px;
}

.left {
    flex: 1;
    order: 1;
}

.left img {
    width: 100%;
    height: 100%;
}

.experience-card:nth-child(2n) .right {
    order: 1;
}

.experience-card:nth-child(2n) .left {
    order: 2;
}

.intern {
    color: #e0e0e0;
    font-size: 13px;
    font-weight: normal;
}

.selected-tech-display {
    padding: var(--sm) var(--md);
    flex: 1;
}

.flex-item-center-sm {
    display: flex;
    align-items: center;
    gap: var(--sm);
}

/* Footer */
.footy {
    max-width: 1000px;
    margin: 0 auto;
    padding: var(--lg);
    display: flex;
    justify-content: center;
    gap: var(--sm);
}

/* Progress bar */
.Proficiency-box {
    display: grid;
    gap: 16px;
}

.progress {
    width: 100%;
    height: 2px;
    margin: var(--sm) 0px;
    border-radius: 5px;
    background-color: #373737;
    z-index: -1;
}

.bar {
    display: block;
    height: 100%;
    width: 10%;
    background: #fee528;
    animation: slide 2.5s ease-in-out forwards;
}

@keyframes slide {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* Media querys */
@media screen and (max-width: 1024px) {
    .hero {
        padding: 0px 100px;
    }

    .content-container {
        flex-direction: column;
    }

    .icon-grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
        width: 100%;
    }

    .fake-image {
        display: none;
    }
}

@media screen and (max-width: 625px) {
    .menu {
        display: block;
    }

    .experience-box {
        grid-template-columns: 1fr;
    }

    .icon-grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        width: 100%;
    }

    .hero {
        padding: 0px 50px;
    }

    .header-nav {
        display: none;
    }

    .fake-image {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        padding: 0px 25px;
    }

    .icon-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        width: 100%;
    }

    .header-nav {
        display: none;
    }

    .fake-image {
        display: none;
    }
}